// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 投稿一覧ページ　テーブル

table {
  margin: 1rem 0 1rem 0;
}

th {
  text-aligin: center;
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px 5px;
}

// form欄のcss

form {
  margin: 1rem 0 1rem 0;
}

.form-box {
  margin-bottom: 10px;
}

.notice {
  color: green;
  margin: 33px;
}

ul {
  list-style-type: square;
  list-style-position: inside;
}

.error-box {
  margin-top: 1rem;
  width: 450px;
}
.error-title {
  padding: 5px 5px 5px 20px;
  font-weight: bold;
}
.error-message {
  padding: 30px 30px 30px 50px;
}